<div class="container" *ngIf="artist">
  <div class="row">
    <div class="col-md-3 text-center">
      <img [src]="artist.images | nophoto" class="img-thumbnail img-circle">
      <br>
    </div>
    <div class="col-md-9">
      <div>
        <h1>{{artist.name}} <small>Popularidad {{artist.popularity}}</small></h1>
        <hr>
        <a [href]="artist.external_urls?.spotify" class="btn btn-outline-success">
          Ver Pagina
        </a>
        <a [routerLink]="['/search',artist.name]" class="btn btn-outline-danger">
          Regresar
        </a>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="topmusic">
    <h3>Top de {{artist.name}}</h3>
    <hr>
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-inverse table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Photo</th>
              <th>Song</th>
              <th>Popularity</th>
              <th>Preview</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let top of topmusic; let i = index">
              <td>{{i + 1}}</td>
              <td><img [src]="top.album?.images | nophoto" alt="" class="img-fluid img-thumbnail img-50"></td>
              <td>{{top.name}}</td>
              <td>{{top.popularity}}%</td>
              <td>
                <!--
                 <audio controls>
                   <source [src]="top.preview_url | noaudio">
                     Tu navegador vale MONDA
                 </audio>
               -->
              <iframe [src]="top.uri | securelink:'https://open.spotify.com/embed?uri='"
               width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
